/* .container {
    width: 500px;
    margin: 0 auto;
  }
  
  .category-selector {
    margin-bottom: 10px;
  }
  
  #category-selector {
    width: 100%;
  }
  
  #recipe-list {
    list-style: none;
    padding: 0;
  }
  
  #recipe-list li {
    margin-bottom: 10px;
  }
  
  #recipe-list li a {
    font-size: 16px;
    color: #000;
  }
  
  #recipe-details {
    margin-bottom: 10px;
  }
  
  #recipe-details h2 {
    font-size: 24px;
  }
  
  #recipe-details p {
    font-size: 16px;
  }
   */
   .container {
    width: 500px;
    margin: 0 auto;
  }
  
  .category-selector {
    margin-bottom: 10px;
  }
  
  #category-selector {
    width: 100%;
  }
  
  #recipe-list {
    list-style: none;
    padding: 0;
  }
  
  #recipe-list li {
    margin-bottom: 10px;
  }
  
  #recipe-list li a {
    font-size: 16px;
    color: #000;
  }
  
  #recipe-details {
    margin-bottom: 10px;
  }
  
  #recipe-details h2 {
    font-size: 24px;
  }
  
  #recipe-details p {
    font-size: 16px;
  }
  